/* .jumbotron{
    background-image: url(img/B.jpg);
    background-size: cover;
    height: 750px;
}
.jumbotron .display-4{
    color: whitesmoke;
    text-align: center;
}
.jumbotron p {
    color: whitesmoke;
    font-size: 25px;
   
}

.jumbotron .btn{
    background-color: teal;
    border-radius: 10px;
    border: none;
} */

.carousel-item{
    height: 670px;
}

.carousel-item .display-4{
    margin-top: -450px;
    color: black;
    text-align: center

}

.carousel-item p {
    color: brown;
    font-size: 25px;
   
}

.carousel-item .btn{
    background-color: teal;
    border-radius: 10px;
    border: none;
}